.groupsAll{
  width: 100%;
  height: 10rem;
  overflow-y: auto;
}
.memberGroup{
  white-space: nowrap;
  margin-right: 1.3rem;
  align-items: center;
}
.newGroup:hover{
    background: #3a9fff;
    border-radius: 5px;
    transition:ease-out 0.7s;
}
.groupItem:hover{
    color:#fff;
}
.groupItem{
    text-align: center;
}
.groupImage{
    padding: 2em;
    background-color:#3a9fff; ;
    width: 100%;
    height: 100%;
}
.groupImage:hover{
    transition:ease-in-out 0.5s;
}

.newGroupPhoto{
padding: 2em;
}
.newGroupPhoto .fa-camera{
    color:#fff;
}
.modal_content{
    max-width: 27rem;
    min-width: 15rem;
}
.modal_body{
    padding: 0;
    max-height: 8rem;
    min-height: 5rem;
}


  .newInputGroup {
    position: relative;
    display: block;
    margin: 0;
  }
  .newInputGroup > .newGroupName {
    position: relative;
    top:3rem !important;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 45px;
    width: 15rem;
    font-size: 16px;
    margin: 0 0 30px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all .3s;
  }
  .newInputGroup > .newGroupName:valid +  .inputName {
    transform: translateY(-25px) scale(0.8);
    top:3rem !important;
    transform-origin: 0;
  }
  .newInputGroup > .newGroupName:valid {
    border-bottom: 1px solid #3a9fff;
    box-shadow: 0 1px 0 0 #3a9fff;
  }
  .newInputGroup >  .inputName {
    top:3rem !important;
    color: #9e9e9e;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    cursor: text;
    transition: .2s ease-out;
  }
  .newInputGroup > .newGroupName:focus +  .inputName {
    transform: translateY(-25px) scale(0.8);
    transform-origin: 0;
    color: #3a9fff;
  }
  .newInputGroup > .newGroupName:focus {
    border-bottom: 1px solid #3a9fff;
    box-shadow: 0 1px 0 0 #3a9fff;
  }
  