@media screen and(min-width:900px) and(max-width:2000px) {
    .mobileSidebar{
        display: none;
    }
    .PostsList{
        display: flex;
        background:#e0e0dd;
    }
}

@media screen and(min-width:250px) and(max-width:900px) {
    .PostsList{
    word-break:break-word !important;
    }
    .mobileSidebar{
        display: block !important;
        position: absolute !important;
    }
    .sidebarDecktop{
        display: none;
    }
    .part3{
        display: none;
    }
    .part2.postCom{
        max-width: -webkit-fill-available !important ;
    }
    .part2{
        width: auto !important;
        .slider{
            display: flex;
            p{
                place-self: center;
                text-align: center;
                margin-right: auto;
                margin-top: auto;
                left: 20px;
                bottom: 8px;
                width: 49%;
                font-size: 25px;
                font-weight: bold;
                padding: 10px;
                border-radius: 10px;
                color: #FFF;
                background-color: #3a3a3a;
            }
        }
    }
    .mobileSidebar.noActive{
        transform: ease-in-out;
        width: 0;
        left: -30px;
    }
    .mobileSidebar.noActive .menu_bar{
        display: none;
    }
    .mobileSidebar{
        transform: ease-in-out;
        border-radius:5px;
        margin-top: 8em;
        top: 0;
        left: 0;
        width: 250px;
        padding: 10px 14px;
        background-color:rgb(255, 255, 255);
        z-index: 9999;
    }
    .mobileSidebar header{
        position: relative;
    }
    .mobileSidebar header .togleLeft{
        margin-top: 3em;
        position:absolute;
        top: 50%;
        right:-95px;
        transform:translate(-50%);
        height: 35px;
        width: 55px;
        background: #fff;
        display: flex;
        align-items:center;
        justify-content: center;
        border-radius:5px;
        color: rgb(3, 186, 241);
        font-size: 22px;
        cursor: pointer;
    }
    .menu_bar{
        height: 100vh;
        overflow-y: auto;
        .menu_Users{
            margin-top: 1em;
            .members{
                padding: 0;
            }
            .groups{
                padding: 0;
            }
        .schedule{
                padding: 0;
            }
        }
    }
       
}
/* share Buttons Modal */
.react-share__ShareButton{
    margin-left: 1.5rem;
}
.sharePosts{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color:#0001;
    border:solid 1px #0005;
    border-radius:5px;
}

/* comments */
.commentDrop{
float:right;
margin-right: 0.5rem;
margin-top: -1rem;
}

.post-button {
    margin-top: 20px;
    // color: #fff;
    
    button:focus{
      outline: none;
    }
    #post-like, #post-comment, #post-share, #post-trash {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
      color: #fff;
      border: none;
      cursor: pointer;
    }
    
    #post-like{
      background-color: #1930ff;
    }
    #post-comment{
      background-color: #32B091;
    }
    #post-trash{
      background-color: rgb(255, 0, 0);
    }
    #post-share{
      background-color: #4A4A4A;
    }
    
    
    .join-group{
      color: #fff;
      background-color: #FCC2B0;
      border-radius: 16px;
      padding: 0px 18px; 
      border: none; 
      float: right;
      margin-top: 20px;
    }
  }
/* Start Part 1 */

.part1 {
    float: left;
    width: 243px;
    margin-top: 25px;
    margin-left: 25px;
}

.part1 .search,
.part1 .members,
.part1 .groups,
.part1 .recent,
.part1 .schedule {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #FFF;
}
.part1 .schedule {
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #FFF;
}

.part1 .search input[type="search"] {
    border: 0;
    width: 120px;
    padding: 8px;
    border-radius: 5px;
    background-color: #F7F7F7;
}

.part1 .members h4,
.part1 .groups h4,
.part1 .recent h4,
.part1 .schedule h4 {
    position: relative;
    font-size: 14px;
    margin-top: 0;
    padding-bottom: 15px;
}

.part1 .members h4:after,
.part1 .groups h4:after,
.part1 .recent h4:after,
.part1 .schedule h4:after {
    content: '';
    position: absolute;
    top: 30px;
    left: -20px;
    width: 243px;
    border-bottom: 1px solid #DDD;
}

.part1 .members .span-mem,
.part1 .groups .span-mem {
    margin-bottom: 20px;
}

.part1 .members .span-mem span,
.part1 .groups .span-mem span {
    font-size: 11px;
    color: #FFF;
    background-color: #77AF12;
    margin-right: -2px;
    padding: 2px 7px 3px;
    border-radius: 5px;
}

.part1 .members .person {
    overflow: hidden;
    margin-bottom: 20px;
}

.part1 .members .person .image {
    float: left;
    width: 23%;
}

.part1 .members .person .image img {
    width: 100%;
}

.part1 .members .person .info {
    float: left;
    width: 65%;
    margin-top: 3px;
    margin-left: 10px;
}

.part1 .members .person .info h5 {
    margin: 0;
    margin-bottom: 8px;
}

.part1 .members .person .info span {
    display: inline-block;
    font-weight: bold;
    font-size: 11px;
    padding: 4px 8px;
    border-radius: 5px;
    color: #6b8bd0;
    background-color: #d5e5f7;
}

.part1 .groups .grp {
    overflow: hidden;
    margin-bottom: 15px;
}

.part1 .groups .grp .image {
    width: 22%;
    float: left;
}

.part1 .groups .grp .image img {
    width: 100%
}

.part1 .groups .grp .info {
    float: left;
    width: 73%;
    margin-top: 3px;
    margin-left: 10px;
}

.part1 .groups .grp .info h5 {
    margin: 0;
    margin-bottom: 8px;
}

.part1 .groups .grp .info span {
    display: inline-block;
    font-weight: bold;
    font-size: 10px;
    color: #6b8bd0;
    background-color: #d5e5f7;
    padding: 4px 6px;
    border-radius: 5px;
}

.part1 .recent img {
    width: 23%;
}

.part1 .schedule p {
    margin: 0 0 20px;
    float: right;
    color: #8e8e8e;
    font-size: 13px;
    font-weight: bold;
}

.part1 .schedule table {
    width: 100%;
    font-size: 13px;
    line-height: 1.7;
    margin-bottom: 5px;
    text-align: center;
}

.part1 .schedule table tr:first-of-type {
    color: #848484;
}

.part1 .schedule table tr {
    color: #9c9c9c;
}

.part1 .schedule i {
    color: #676767;
}

.part1 .schedule span {
    color: #676767;
    font-size: 14px;
    margin-left: 5px;
}

/* End Part 1 */

/* Start Part 2 */

.postTags{
    margin: 3px;
    background-color:rgba(16, 26, 83, 0.479);
    color:white;
    padding: 5px;
    border-radius:5px;
    font-size: 0.6rem;
    cursor: pointer;
}


.part2 {
    float: left;
    width: 742px;
    margin-left: 2%;
    margin-top: 25px;
}

.part2 .slider {
    width: 100%;
    height: 330px;
    position: relative;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-image: url(https://i.postimg.cc/vBNVDRgs/come.jpg);
}

.part2 .slider img {
    width: 100%;
    height: 330px;
    border-radius: 10px;
}

.part2 .slider p {
    position: absolute;
    left: 20px;
    bottom: 8px;
    width: 49%;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    color: #FFF;
    background-color: #3a3a3a;
}

.part2 .slider span {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 50%;
    bottom: 10px;
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid #cccfff;
}

.part2 .slider span:first-of-type {
    border: 4px solid #FFF;
}

.part2 .slider span:nth-of-type(2) {
    left: 54%
}

.part2 .slider span:nth-of-type(3) {
    left: 58%
}

.part2 .latest,
.part2 .posts,
.part2 .features {
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: #FFF;
}

.part2 .latest h4,
.part2 .posts h4,
.part2 .features h4 {
    position: relative;
    font-size: 14px;
    margin-top: 0;
    padding: 20px;
    background-color: #F7F7F7;
    border-radius: 8px 8px 0 0;
}

.part2 .latest h4:after,
.part2 .posts h4:after,
.part2 .features h4:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 56px;
    left: 0px;
    border-bottom: 1px solid #DDD;
}

.part2 .latest .activity {
    overflow: hidden;
    position: relative;
    padding: 5px 15px 15px;
}

.part2 .latest .activity:first-of-type {
    margin-top: 20px;
}

.part2 .latest .activity .image {
    float: left;
    margin-top: 5px;
    margin-right: 1%;
}

.part2 .latest .activity .info {
    width: 84%;
    float: left;
}

.part2 .latest .activity .info p:first-of-type {
    margin-bottom: 3px;
}

.part2 .latest .activity .info p:last-of-type span {
    color: #000;
}

.part2 .latest .activity .info span {
    font-size: 14px;
    color: #777;
}

.part2 .latest .activity .info span ~ p {
    color: #969696;
    font-size: 14px;
    margin-top: 5px;
    line-height: 1.5;
}

.part2 .latest .activity:after {
    content: '';
    position: absolute;
    width: 91%;
    left: 30px;
    bottom: 0;
    border-bottom: 1px solid #DDD;
}

.part2 .latest button {
    display: block;
    width: 92%;
    margin: auto;
    padding: 13px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 15px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    background-color: #F7F7F7;
}

.part2 .posts .post {
    padding: 0 15px;
    overflow: hidden;
}

.part2 .posts .post .image {
    float: left;
    width: 18%;
    margin-right: 2%;
}

.part2 .posts .post .image img {
    width: 100%;
    height: 100px;
    border-radius: 8px;
}

.part2 .posts .post .info {
    width: 80%;
    float: left;
}

.part2 .posts .post .info p {
    color: #888;
    font-size: 14px;
    line-height: 1.4;
}

.part2 .posts .num {
    float: right;
    color: #969696;
    margin-right: 20px;
}

.part2 .posts .num span {
    margin-right: 10px;
    font-size: 14px;
}

.part2 .posts .num span:first-of-type {
    padding: 4px 6px;
    border-radius: 4px;
    background-color: #F0F0ED;
}

.part2 .features .feat {
    text-align: center;
    justify-content: center;
    font-family: serif;
    float: left;
    width: 22%;
    margin: 20px 11px;
}

.part2 .features .feat .image img {
    width: 100%;
    border-radius: 8px;
}

.part2 .features .feat p {
    font-size: 14px;
    font-weight: bold;
}

/* End Part 2 */
/* Start Part 3 */

.part3 {
    float: left;
    width: 270px;
    margin-left: 2%;
    margin-top: 25px;
}

.part3 .sign,
.part3 .statistics,
.part3 .online,
.part3 .replies,
.part3 .topics {
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    background-color: #FFF;
}

.part3 .sign h4,
.part3 .statistics h4,
.part3 .online h4,
.part3 .replies h4,
.part3 .topics h4 {
    position: relative;
    font-size: 14px;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

.part3 .sign h4:after,
.part3 .statistics h4:after,
.part3 .online h4:after,
.part3 .replies h4:after,
.part3 .topics h4:after{
    content: '';
    position: absolute;
    width: 100%;
    top: 56px;
    left: 0px;
    border-bottom: 1px solid #DDD;
}

.part3 .sign form {
    padding: 20px;
    padding-top: 0;
    position: relative;
}

.part3 .sign form input[type="text"],
.part3 .sign form input[type="password"] {
    width: 230px;
    border: 0;
    border-radius: 5px;
    padding: 15px 10px;
    margin-bottom: 20px;
    background-color: #F7F7F7;
}

.part3 .sign form label {
    color: #636363;
    font-size: 14px;
}

.part3 .sign form button {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #FFF;
    background-color: #2F9BC1;
}

.part3 .sign form p {
    float: right;
    font-size: 13px;
    margin-bottom: 0;
}

.part3 .sign form i {
    position: absolute;
    right: 110px;
    bottom: -7px;
}

.part3 .statistics .stat {
    width: 230px;
    padding: 8px;
    margin: auto;
    margin-bottom: 6px;
    border-radius: 4px;
    color: #FFF;
    background-color: #C12F6C;
}

.part3 .statistics .stat i {
    margin-right: 8px;
}

.part3 .statistics .stat span {
    font-size: 14px;
    font-weight: bold;
}

.part3 .statistics .stat span:last-of-type {
    float: right;
    font-size: 20px;
}

.part3 .online p {
    color: #a7a7a7;
    font-size: 13px;
    padding: 0 34px;
}

.part3 .replies p,
.part3 .topics p {
    font-size: 13px;
    padding: 10px 30px;
}

.part3 .replies p span,
.part3 .topics p span {
    color: #a7a7a7;
}

/* End Part 3 */