@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

/* profile mobile */
@media screen and(min-width:250px) and(max-width:575px) {
  .plansheid-profile{
    display: none;
  }
}
@media screen and(min-width:1500px) and(max-width:25000px) {
  .plansheid-profile{
    display: none;
  }
}

/* profile products */

.reaction{
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #f2f2f2;
  margin-left: -15px;
}



.book-sum {
 margin-top: 20px;
 font-size: 14px;
 overflow: hidden;
 display: -webkit-box;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
}

.main-wrapper {
 width: 100%;
 display: flex;
 flex-grow: 1;
 margin-top: 100px;
 overflow: hidden;
}

.author-title {
 padding: 0 0 20px;
 font-weight: 500;
 font-size: 15px;
}

.author-img {
 border-radius: 50%;
 width: 30px;
 height: 30px;
 margin-right: 16px;
 object-fit: cover;
 object-position: center;
}

.year-book-content {
 display: flex;
 flex-direction: column;
 font-size: 14px;
}

.overlay {
 position: sticky;
 bottom: 0;
 left: 0;
 width: 340px;
 flex-shrink: 0;
 background: linear-gradient(
  to bottom,
  rgba(255, 255, 255, 0) 0%,
  #f2f5f7 65%,
  #f2f5f7 100%
 );
 height: 60px;
 margin-left: -35px;
}

.book-cards {
  max-width: 100vw;
  min-width: 69.5vw;
 grid-template-columns: repeat(1, 1fr);
 grid-column-gap: 20px;
 grid-row-gap: 20px;
 padding-top: 40px;
 position: relative;
 height: 100vh;
 overflow-y: auto;
}

/* .card {
 margin-top: 20px;
 background-color: #fff;
 height: 270px;
 box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.1);
 border-radius: 4px;
 display: flex;
 flex-direction: column;
 cursor: pointer;
 padding: 0 0 20px 20px;
 color: var(--body-color-light);
} */

.book-card-img {
 width: 70%;
 max-width: 70%;
 min-width: 50%;
 object-fit: cover no-repeat;
 max-height: 200px;
 min-height: 200px;
 margin-top: -35px;
 border-radius: 2px;
 box-shadow: 0px 1px 7px 2px #c7c9d3;
 border-bottom: 1px solid #dcddde;
 object-fit: cover;
 margin-bottom: 20px;
 transition: .3s ease;
 &:hover {
  transform: scale(1.04);
 }
}


.card-content {
 color: var(--body-color);
 padding: 30px;
 overflow: hidden;
 position: relative;
}

.book-name {
  color:black;
  font-size: 1.5rem;
 font-weight: 500;
 text-overflow: ellipsis;
 overflow: hidden;
 white-space: nowrap;
}

.book-by {
  color:black;
 font-size: 13px;
 color: var(--body-color-light);
 margin-top: 4px;
 text-overflow: ellipsis;
 overflow: hidden;
 white-space: nowrap;
}

.book-rate > label {
 color: #cccccc;
}

.rate {
 display: inline-block;
 white-space: nowrap;
}

.book-rate > input:checked ~ label,
.book-rate:not(:checked) > label:hover,
.book-rate:not(:checked) > label:hover ~ label {
 color: #ff9700;
}
.book-rate > input:checked + label:hover,
.book-rate > input:checked ~ label:hover,
.book-rate > label:hover ~ input:checked ~ label,
.book-rate > input:checked ~ label:hover ~ label {
 color: #ff9700;
}

.card-vote {
 color: var(--body-color-light);
}

.card-sum {
 color: var(--body-color-light);
 font-size: 13px;
 line-height: 1.6em;
 -webkit-line-clamp: 4;
 margin-top: 15px;
}

.content-wrapper {
 display: flex;
 border-bottom: 1px solid #ebedef;
 position: relative;
 &:before {
  content: "";
  position: absolute;
  background-color: #8f98a9;
        background-color: #aaaebc;
    box-shadow: 0 -6px 0 0 #aaaebc, 0 6px 0 0 #aaaebc;
    width: 4px;
    height: 4px;
    border: 0;
    padding: 0;
    right: 12px;
    top: 17px;
    border-radius: 50%;
    margin-left: auto; 
 }
}

.like-profile {
 margin-top: 8px;
 & + & {
  margin-left: -5px;
 }
}

.like-img {
 border-radius: 50%;
 width: 28px;
 object-fit: cover;
 border: 2px solid #fff;
}

.like-name {
 font-size: 13px;
 margin-left: 15px;
 text-overflow: ellipsis;
 overflow: hidden;
 white-space: nowrap;
 span {
  font-weight: 600;
 }
}
/* 
.likes {
 @extend %display;
} */


@media (max-width: 1103px) {
 .book-cell {
  width: 60%;
 }
}

@media (max-width: 765px) {
 .book-cell {
  width: 80%;
 }
}

@media (max-width: 575px) {
 .book-cell {
  width: 100%;
 }
}

@media (max-width: 458px) {
 .book-photo {
  width: 180px;
 }
 .book-voters {
  display: none;
 }
}

@media (max-width: 420px) {
 .book-see {
  width: 120px;
  font-size: 13px;
 }
 .book-photo {
  width: 130px;
 }
 .main-wrapper {
  margin-top: 50px;
 }
}

@media (max-width: 360px) {
 .rating > label:before {
  font-size: 0.8em;
 }
}

@media (max-width: 1220px) {
 .card-vote {
  display: none;
 }
}

@media (max-width: 1085px) {
 .book-rate > label {
  font-size: .7em;
}
}

@media (max-width: 1045px) {
 .books-of {
  display: none;
}
}

@media (max-width: 870px) {

  .book-card-img {
    width: 50%;
    max-height: 1500px;
    min-height: 150px;
    margin-top: -25px;
    border-radius: 2px;
    box-shadow: 0px 1px 7px 2px #c7c9d3;
    border-bottom: 1px solid #dcddde;
    object-fit: cover;
    margin-bottom: 20px;
    transition: .3s ease;
    &:hover {
     transform: scale(1.04);
    }
   }
 .browse-category, .search-bar {
  display: none;
}
 .header-title {
  margin-right: auto;
 }
 .book-cards {
   overflow-x: hidden;
  min-width: 100vw;
  grid-template-columns: 1fr;
 }
 .book-types {
  display: none;
 }
}

@media (max-width: 372px)  {
 .card-content {
  padding: 20px;
 }
}

img {
 max-width: 100%;
}

.container-fluids {
 background-color: var(--theme-bg-color);
 display: flex;
 max-width: 1600px;
 height: 100vh;
 overflow: hidden;
 margin: 0 auto;
}

.user-profile-area {
 width: 360px;
 border-right: 1px solid rgb(196, 193, 193);
 display: flex;
 flex-direction: column;
 flex-shrink: 0;
 overflow: auto;
}

.task-manager {
 font-size: 15px;
 color: var(--title-color);
 font-weight: 700;
 text-align: center;
 height: 70px;
 letter-spacing: 0.7px;
 line-height: 70px;
 position: sticky;
 top: 0;
 z-index: 3;
 text-transform: uppercase;
 background-color: var(--theme-bg-color);
 border-bottom: 1px solid #0003;
}

.user-photo {
 width: 70px;
 height: 70px;
 border-radius: 50%;
 object-fit: cover;
}

.user-name {
 font-weight: 600;
 margin: 15px 0 8px;
}

.user-mail {
 color: var(--main-light-color);
 font-size: 12px;
 font-weight: 600;
}

.user-profile {
 display: flex;
 flex-direction: column;
 text-align: center;
 align-items: center;
}

.side-wrapper {
 padding: 25px 40px;
 border-bottom: 1px solid #0003;
 &:last-child {
  border-bottom: none;
 }
}

.user-notification {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 25px;
 svg {
  width: 36px;
  padding: 10px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: visible;
  background-color: var(--button-bg-color);
  color: var(--button-color);
 }
}

.notify {
 position: relative;
 &:not(:last-child) {
  margin-right: 25px;
 }
 &.alert {
  position: relative;
  &:before {
   content: "2";
   font-size: 9px;
   font-weight: 700;
   position: absolute;
   background-color: #ff537b;
   width: 14px;
   height: 14px;
   border-radius: 50%;
   top: -3px;
   display: flex;
   justify-content: center;
   align-items: center;
   right: 0px;
   color: #fff;
  }
  &:last-child:before {
   content: "5";
  }
 }
}

.progress {
 margin-top: 5px;
 border-radius: 4px;
 background-color: #e7e7ef;
 height: 8px;
 overflow: hidden;
 &-bar {
  background-color: var(--button-color);
  border-radius: 4px;
  width: 35%;
  height: 100%;
  animation: progressAnimation 6s;
  transition: 0.3s linear both;
  transition-property: width, background-color;
 }
 &-status {
  margin-top: 30px;
  text-align: right;
  color: var(--main-color);
  font-size: 10px;
  font-weight: 600;
 }
}

@keyframes progressAnimation {
 0% {
  width: 5%;
  background-color: #194efd;
}
100% {
  width: 35%;
 }
}

.task {
 &-status {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 &-stat {
  text-align: center;
 }
 &-number {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
 }
 &-condition {
  font-size: 12px;
  color: var(--main-color);
  font-weight: 700;
 }
 &-tasks {
  margin-top: 4px;
  font-size: 10px;
  font-weight: 600;
  color: var(--main-light-color);
 }
}

.project {
 &-title {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 18px;
 }
 &-department {
  position: relative;
  vertical-align: middle;
  padding: 0 30px;
  color: var(--main-color);
  font-size: 13px;
  font-weight: 600;
  margin-top: 14px;
  &:before {
   position: absolute;
   content: "";
   width: 8px;
   height: 8px;
   border-radius: 50%;
   top: 10;
   left: 0;
  }
  &:nth-child(1):before {
   border: 3px solid #b36dfb;
  }
  &:nth-child(2):before {
   border: 3px solid #625be8;
  }
  &:nth-child(3):before {
   border: 3px solid #fec267;
  }
  &:nth-child(4):before {
   border: 3px solid #4aff3a;
  }
  &:nth-child(5):before {
   border: 3px solid #36c6ff;
  }
  &:nth-child(6):before {
   border: 3px solid #c600e0;
  }
  &:nth-child(7):before {
   border: 3px solid #0797f7;
  }
  &:nth-child(8):before {
   border: 3px solid #8400ff;
  }
  &:nth-child(9):before {
   border: 3px solid #66a3c0;
  }
  &:nth-child(10):before {
   border: 3px solid #c074ba;
  }
  &:nth-child(11):before {
   border: 3px solid #a1e4ac;
  }
  &:nth-child(12):before {
   border: 3px solid #7f6ce9b4;
  }
  &:nth-child(13):before {
   border: 3px solid #634a59;
  }
  &:nth-child(14):before {
   border: 3px solid #3f9c944d;
  }
  &:nth-child(14):before {
   border: 3px solid #b0b386;
  }
  &:nth-child(15):before {
   border: 3px solid #94a3d4;
  }
 }
}

.members {
 width: 36px;
 height: 36px;
 object-fit: cover;
 border-radius: 50%;
}

.team-member {
 display: flex;
 justify-content: space-between;
}

.main-area {
 display: flex;
 flex-direction: column;
 flex-grow: 1;
 overflow: hidden;
}


.search-bar {
 height: 70px;
 position: relative;

 input {
  height: 100%;
  width: 100%;
  display: block;
  background-color: transparent;
  border: none;
  color: var(--body-color);
  padding: 0 35px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23a1a4b9' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3e%3ccircle cx='11' cy='11' r='8'/%3e%3cpath d='M21 21l-4.35-4.35'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 0 50%;
  font-family: var(--body-font);
  font-weight: 600;
  font-size: 14px;
  &::placeholder {
   color: var(--main-light-color);
  }
 }
}

.inbox-calendar {
 margin-right: 200px;
}

.color-menu {
 flex-shrink: 0;
}

.msg {
 padding: 30px;
 background-color: var(--unselected-mail);
 border-bottom: 1px solid var(--border-color);
 display: flex;
 align-items: center;
 transition: 0.4s ease;
 &-title {
  font-weight: 600;
  font-size: 14px;
 }
 &-date {
  font-size: 11px;
  color: var(--main-light-color);
  font-weight: 600;
  margin-top: 5px;
 }
}

.selected-bg {
 background-color: var(--theme-bg-color);
}

.msg-department {
 display: flex;
 justify-content: space-between;
 text-transform: uppercase;
 position: sticky;
 top: 0;
 left: 0;
 z-index: 3;
 font-weight: 700;
 letter-spacing: 0.8px;
 background-color: var(--theme-bg-color);
 border-left: 4px solid #b36dfb;
 svg {
  width: 12px;
 }
}

.inbox {
 overflow: auto;

 &-container {
  border-right: 1px solid var(--border-color);
  width: 420px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-shrink: 0;
 }
}
.main-container {
 display: flex;
 flex-grow: 1;
 overflow: hidden;
 background-color: var(--main-container-bg);
}

.mail-members {
 width: 40px;
 height: 40px;
 margin-left: auto;
}

.mail-choice {
 display: none;
}

.mail-choice + label:before {
 content: "";
 display: flex;
 width: 35px;
 height: 35px;
 border: 2px solid var(--main-light-color);
 margin-right: 15px;
 border-radius: 50%;
 transition: 0.3s;
 background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='28' viewBox='0 0 24 24' fill='none' stroke='%23a1a4b9' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
 background-repeat: no-repeat;
 background-position: center;
 cursor: pointer;
}

.mail-choice:checked + label:before {
 border-color: green;
 background-color: var(--button-color);
 border-color: var(--button-color);
 background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='28' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
}

.mail-choice:checked .msg {
 background-color: red;
}

.add {
 &-task {
  position: sticky;
  flex-shrink: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  margin-top: auto;
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  background-color: var(--theme-bg-color);
  animation: slideUp .45s .4s both;
 }
 &-button {
  position: sticky;
  bottom: 10px;
  background-color: var(--button-color);
  border: 0;
  margin: auto;
  padding: 10px 30px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border-radius: 20px;
  flex-shrink: 0;
  z-index: 1;
  cursor: pointer;
 }
}

.mail-detail {
 display: flex;
 animation: slideX .6s both;
 flex-direction: column;
 overflow: hidden;
 background-color: var(--theme-bg-color);
 &-profile {
  display: flex;
  align-items: center;
 }
 &-header {
  border-bottom: 1px solid var(--border-color);
  padding: 16px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 &-name {
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  white-space: nowrap;
 }
}

@keyframes slideX {
 0% {
  opacity: 0;
  transform: translateX(200px);
 } 
}

.inbox-detail {
 width: 44px;
 height: 44px;
}

.mail-icons {
 flex-shrink: 0;
 svg {
  width: 42px;
  height: 42px;
  padding: 13px;
  flex-shrink: 0;
  margin-left: 10px;
  border-radius: 50%;
  overflow: visible;
  background-color: var(--button-bg-color);
  color: var(--button-color);
  &:first-child {
   margin-left: 0;
  }
 }
}

.mail-contents {
 padding: 30px;
 &-subject {
  display: flex;
  align-items: center;
 }
 &-title {
  font-weight: 700;
  font-size: 17px;
  margin-left: 5px;
 }
}

.mail {
 padding-left: 55px;
 font-size: 14px;
 color: var(--main-light-color);
 &-time {
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 13px;
  svg {
   width: 12px;
   margin-right: 8px;
  }
 }
 &-inside {
  padding: 20px 0 30px;
  border-bottom: 1px solid var(--border-color);
  color: var(--main-color);
  line-height: 1.8em;
 }
 &-checklist {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  & .mail-choice + label:before {
   width: 20px;
   height: 20px;
   flex-shrink: 0;
   margin-right: 12px;
   background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='18' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='4' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
  }
  label {
   display: flex;
   align-items: center;
   color: var(--button-color);
   font-weight: 600;
   font-size: 13px;
  }
  &-date {
   margin-left: 16px;
   font-size: 13px;
  }
 }
}

.assignee {
 font-size: 13px;
 margin-bottom: 10px;
 :last-child {
  margin-bottom: 0;
 }
}

.mail-assign {
 padding: 20px 0;
 border-bottom: 1px solid var(--border-color);
}

.mail-doc {
 display: flex;
 align-items: center;
 padding: 30px 0;
 flex-shrink: 0;
 justify-content: space-between;
 &-name {
  color: var(--body-color);
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 3px;
 }
 &-date {
  font-size: 13px;
 }
 &-wrapper {
  display: flex;
  align-items: center;
  svg {
   margin-right: 15px;
   background-color: var(--button-bg-color);
   color: var(--button-color);
   width: 50px;
   padding: 9px;
   border-radius: 4px;
  }
 }
 &-icons {
  svg:not(:last-child) {
   margin-right: 8px;
  }
 }
}

.mail-textarea {
 display: flex;
 background-color: var(--unselected-mail);
 padding: 30px 0;
 border-top: 1px solid var(--border-color);
 position: sticky;
 bottom: 0;
 justify-content: space-between;
 margin-top: auto;
 left: 0;
 overflow: hidden;
 height: 80px;
 flex-shrink: 0;
 input {
  border: none;
  background-color: transparent;
  font-size: 15px;
  width: 100%;
  padding: 0 30px;
  color: var(--main-color);
  &::placeholder {
   color: var(--main-light-color);
  }
 }
}

.textarea-icons {
 display: flex;
 align-items: center;
}

.attach {
 padding: 30px;
 border-right: 1px solid var(--border-color);
 border-left: 1px solid var(--border-color);
 svg {
  color: var(--main-color);
 }
}

.send {
 padding: 30px;
 background-color: var(--button-color);
 svg {
  color: var(--theme-bg-color);
 }
}

.inbox-calendar-checkbox {
 position: relative;
 width: 100%;
 height: 100%;
 padding: 0;
 margin: 0;
 opacity: 0;
 z-index: 3;
 cursor: pointer;
}

.toggle-page {
 overflow: hidden;
 z-index: 2;
}

.inbox-calendar {
 position: relative;
 width: 220px;
 border-radius: 20px;
 height: 36px;
 display: flex;
 align-items: center;
 overflow: hidden;
 flex-shrink: 0;
}

.layer {
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 width: 100%;
 background-color: var(--unselected-mail);
 transition: 0.3s ease all;
 z-index: 1;
}

.toggle-page:before,
.toggle-page:after,
.toggle-page span {
 position: absolute;
 top: 4px;
 width: 100px;
 height: 10px;
 font-size: 12px;
 font-weight: bold;
 text-align: center;
 line-height: 1;
 padding: 9px 4px;
 border-radius: 20px;
 transition: 0.3s ease all;
}

.toggle-page:before {
 content: "";
 left: 4px;
 background-color: var(--button-color);
}

.toggle-page span {
 color: var(--theme-bg-color);
 z-index: 1;
 left: 6px;
}

.toggle-page:after {
 content: "Calendar";
 right: 4px;
 color: var(--main-light-color);
}

.inbox-calendar-checkbox:checked + .toggle-page span {
 color: var(--main-light-color);
}

.inbox-calendar-checkbox:checked + .toggle-page:before {
 left: 109px;
}

.inbox-calendar-checkbox:checked + .toggle-page:after {
 color: var(--theme-bg-color);
}

//Calender

.calendar {
 display: grid;
 width: 100%;
 grid-template-columns: repeat(7, minmax(195px, 1fr));
 grid-template-rows: 57px;
 grid-auto-rows: 120px;
 overflow: auto;

 &-wrapper {
  width: 100%;
  margin: auto;
  margin-top: 0;
  overflow: auto;
  border-radius: 10px;
  background: #fff;
  max-width: 975px;
  border: 1px solid var(--calendar-border-color);
 }
}

.days {
 font-size: 12px;
 font-weight: 700;
 color: var(--main-color);
 text-align: center;
 line-height: 60px;
 &:not(:nth-of-type(7n + 7)) {
  border-right: 1px solid var(--calendar-border-color);
 }
}

.day {
 padding: 15px;
 overflow: hidden;
 font-weight: 700;
 font-size: 13px;
 border-right: 1px solid var(--calendar-border-color);
 border-top: 1px solid var(--calendar-border-color);
 &:nth-of-type(7n + 7) {
  border-right: 0;
 }
 &.not-work {
  color: var(--main-color);
 }
 &.project-market {
  background-color: #f5eafd;
  border-left: 3px solid #b86df7;
  transition: 0.2s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  &:hover {
   transform: scale(1.3);
   border: 0;
   border-radius: 4px;
   background-image: linear-gradient(
    to top,
    #6625dc,
    #7739e3,
    #874cea,
    #965df1,
    #a46ef8
   );
   color: #fff;
   font-size: 15px;
   .project-detail {
    color: #fff;
    font-size: 9px;
    &:before {
     top: 2px;
    }
   }
   .hover-title {
    display: block;
    font-size: 8px;
    padding-left: 18px;
    margin-top: 5px 0 3px;
   }
   .popup-check {
    display: block;
    width: 12px;
    margin-left: auto;
    margin-top: 6px;
   }
  }
 }
 &.project-design {
  background-color: #eeeffd;
  border-left: 3px solid #736eeb;
 }
 &.project-develop {
  background-color: #fef6e8;
  border-left: 3px solid #ffc263;
 }
 &.project-finance {
  background-color: #fee9ec;
  border-left: 3px solid #ff647a;
  transition: 0.2s ease;
  cursor: pointer;
  &:hover {
   background-image: linear-gradient(
    to top,
    #f7224b,
    #fa3d5d,
    #fd526e,
    #fe637e,
    #ff748e
   );
   transform: scale(1.3);
   border: 0;
   border-radius: 4px;
   color: #fff;
   font-size: 15px;
   .popup-check {
    display: block;
    width: 12px;
    margin-left: auto;
    margin-top: 10px;
   }
   .project-detail {
    color: #fff;
    font-size: 9px;
    &:before {
     top: 2px;
     background-color: #ce283e;
    }
   }
   .hover-title {
    display: block;
    font-size: 8px;
    padding-left: 18px;
    margin-top: 5px;
   }
  }
 }
}

.hover-title {
 display: none;
 color: #fff;
}

.popup-check {
 display: none;
}

.hide {
 display: none;
}

.project-detail {
 color: #783cae;
 font-size: 10px;
 position: relative;
 margin-top: 5px;
 padding-left: 20px;
 line-height: 1.4em;
 & + & {
  margin-top: 5px;
 }
 &:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #b86df7;
  top: 4px;
  left: 10px;
 }
 &.design {
  color: #4844c1;
  &:before {
   background-color: #6f69ea;
  }
 }
 &.develop {
  color: #de9d3a;
  &:before {
   background-color: #ffc263;
  }
 }
 &.finance {
  color: #e85b6f;
  &:before {
   background-color: #fd667a;
  }
 }
}

.week-month {
 display: flex;
 height: 30px;
}

/* .button {
 border: 1px solid var(--button-color);
 border-radius: 25px 0 0 25px;
 color: var(--button-color);
 padding: 8px 16px;
 font-weight: 600;
 font-family: var(--body-font);
 font-size: 12px;
 flex-shrink: 0;
 cursor: pointer;
 background-color: transparent;
 &.active {
  background-color: var(--button-color);
  color: var(--theme-bg-color);
 }
} */

.button-month {
 border-radius: 0 25px 25px 0;
 margin-left: -2px;
}

.calender-tab {
 display: flex;
 align-items: center;
 justify-content: space-between;
 max-width: 975px;
 margin: 0 auto;
 width: 100%;
 padding-bottom: 30px;
}

.current {
 &-month {
  position: relative;
  padding: 0 10px;
  font-weight: 600;
 }
 &-year {
  font-size: 12px;
  color: var(--main-color);
  font-weight: 600;
  margin-top: 5px;
 }
}

.month-change {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.button-weekends,
.button-task {
 border-radius: 25px;
}

.button-task {
 margin-left: 15px;
}

.button-weekends {
 border-color: var(--main-light-color);
 color: var(--main-light-color);
}

.calendar-container {
 flex-direction: column;
 width: 100%;
 padding: 30px 50px;
 overflow: auto;
 display: none;
 &.calendar-show {
  display: flex;
 }
}

.color-menu {
 flex-shrink: 0;
 border-radius: 50%;
 position: relative;
 overflow: hidden;
 width: 32px;
 height: 32px;
 svg {
  position: absolute;
  z-index: 8;
  width: 17px;
  top: 7px;
  right: 8px;
  fill: #fff;
  pointer-events: none;
 }
}

.colorpicker {
 border: none;
 border-radius: 50%;
 width: 50px;
 height: 55px;
 top: -8px;
 right: -8px;
 position: absolute;
 cursor: pointer;
}

@media screen and (max-width: 1270px) {
 .mail-icons {
  svg:not(:first-child) {
   display: none;
  }
 }
}

@media screen and (max-width: 1160px) {
  .content-wrapper {
    height: 150px;
    display: flex;
    border-bottom: 1px solid #ebedef;
    position: relative;
    &:before {
     content: "";
     position: absolute;
     background-color: #8f98a9;
           background-color: #aaaebc;
       box-shadow: 0 -6px 0 0 #aaaebc, 0 6px 0 0 #aaaebc;
       width: 4px;
       height: 4px;
       border: 0;
       padding: 0;
       right: 12px;
       top: 17px;
       border-radius: 50%;
       margin-left: auto; 
    }
   }
  

  /* .card {
    margin-top: 20px;
    background-color: #fff;
    height: 190px;
    box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 0 0 20px 20px;
    color: var(--body-color-light);
   } */


  .book-card-img {
    width: 60%;
    max-height: 150px;
    min-height:150px;
    margin-top: -25px;
    border-radius: 2px;
    box-shadow: 0px 1px 7px 2px #c7c9d3;
    border-bottom: 1px solid #dcddde;
    object-fit: cover;
    margin-bottom: 20px;
    transition: .3s ease;
    &:hover {
     transform: scale(1.04);
    }
   }

 .user-profile-area {
  width: 320px;
 }
}

@media screen and (max-width: 1070px) {
 .mail-detail-header .mail-icons {
  svg {
   display: inline-block;
  }
 }
}

@media screen and (max-width: 960px) {
 .inbox-calendar {
  margin-right: 100px;
 }
}

@media screen and (max-width: 900px) {
.user-profile-area {
 display: none;
}}

@media screen and (min-width: 250px) and (max-width: 900px) {
  .profileMobile {
 display: block
}}

@media screen and (min-width: 900px) and (max-width:1500px) {
  .profileMobile {
 display: none;
}}

@media screen and (max-width: 530px) {
 .search-bar {
  display: none;
 }
 .mail-textarea {
  padding: 0;
  height: 60px;
 }
 .button-weekends {
  display: none;
 }
}

@media screen and (max-width: 485px) {
 .mail-icons {
  svg:not(:first-child) {
   display: none;
  }
 }
 .inbox-calendar {
  margin-right: 0;
 }
 .calendar-container {
  padding: 30px 20px;
 }
}

@media screen and (max-width: 370px) {
 .mail-doc-icons, 
 .mail-checklist-date { 
  display: none; 
 }
}

.anim-y {
 animation: slideUp .6s both;
}

@for $i from 2 through 10 {
  .anim-y:nth-child(#{$i}) {
   animation-delay: #{$i*0.14}s;
  }
}
 

@keyframes slideUp {
 0% {
  transform: translateY(76px) scale(.92);
  opacity: 0;
 }
}

